.page-services {
  // background-image: url('../images/undraw_businesswoman_pc12.svg');
  background-repeat: no-repeat;
  background-size: 115%;
  background-position: 49px -40px;
  @include media-breakpoint-up(sm) {
    background-size: 90%;
    background-position: 159px -40px;
  }
  @include media-breakpoint-up(md) {
    background-size: 85%;
    background-position: 199px -80px;
  }
  @include media-breakpoint-up(lg) {
    background-size: 60%;
    background-position: 100% -110px;
  }
}
.parallaxSer {
  /* The image used */
  background-image: url('../images/water.jpg');

  /* Set a specific height */
  height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#more {
  margin-bottom: 1em;
  text-align: center;
}
#excerpt {
  margin: 0;
}
#centerMe {
  display: flex;
  justify-content: center;
}
#times {
  margin: 0 auto;
  height: 50vh;
  width: 50vw;
}
#cont {
  display: flex;
  height: 10vh;
  width: 100vw;
  margin: 2em;
}
#box {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  align-self: center;
  align-content: center;
}
.margin {
  margin-bottom: 2em;
  margin-top: 2em;
  color: #1c3ed2;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 1em;
  align-items: center;
}
.galleryImage {
  max-width: 100vw;
  height: 60vh;
  padding: 0.5em;
  margin: 0 auto;
  border-radius: 5%;
  // border: 2px solid blue;
}
#imgBox {
  display: flex;
  // margin: 0 auto;
  // width: 90vw;
  // height: auto;
  align-content: center;
}
#ourWork {
  display: flex;
  align-content: center;
  margin: 1em;
  justify-content: center;
  color: #1c3ed2;
}
